<!-- Navbar Section -->

<!-- Banner Section -->
<div class="banner">
  <div class="navbar">
    <%= link_to image_tag("awesome-logo-2.png", alt: "logo"), '/', class: 'navbar-brand' %>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "nav-button" %>
  </div>
  <div class="banner-content d-flex flex-column justify-content-center align-items-center">
    <h1>There's always a great cocktail</h1>
    <h3>Here you will find a greate cocktail</h3>
  </div>
</div>
<!-- Container config -->
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card cards">
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <div class="card-body">
          <%= link_to "See Details", cocktail_path(cocktail), class: 'card-link d-flex align-self-center justify-content-center card-button' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
