.cards {
  margin: 50px 0 0 0;
  padding: 20px 0;
  display: flex;
}

.cards .card-description h2 {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 20px 0;
}
